.drag-wrapper{
    text-align: center;

    .drag-and-drop {
        font-size: 25px;
        color: #928787;
    
        .browse{
            color: #29bd90;
        }
    }
}
.error{
    color:red;
}
.error:hover{
    color:red;
}